body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 48, 44);
}

#screen {
    width: auto;
    min-height: 10vh;
}

#input{
    background: slategray;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: solid 5px red;
}

#history{
    background: slategray;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border: solid 5px red;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#container {
    margin: 15vh;
    background-color: steelblue;
    min-height: 70vh;
    min-width: 25vw;
}

.row {
    display: flex;
    justify-content: center;
    
}

.number {
    background: grey;
    min-height: 50px;
    min-width: 50px;
}

.tool {
    background: darkgrey;
    min-height: 50px;
    min-width: 50px;
}

.action {
    background: darkgrey;
    min-height: 50px;
    min-width: 50px;
}

.operator {
    background: gray;
    min-height: 50px;
    min-width: 50px;
}

button {
    padding: 10px
}