body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(38, 48, 44);
}

#screen {
    width: auto;
    min-height: 10vh;
    padding: 2.5px;
}

#inputs, #mainscreen {
    display:flex;
    min-height: 5vh;
    background: slategray;
    font-size: 4vh;
    margin: 5px;
    border: solid 3px navy;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#container {
    margin: 15vh;
    background-color: steelblue;
    min-height: 50vh;
    width: 25vw;
    padding: 1vh;
}

.row {
    display: flex;
    justify-content: center;
}

.number {
    background: grey;
}

.tool, .action {
    background: darkgrey;
}

.operator {
    background: rgb(108, 139, 128);
}

button {
    padding: 10px;
    min-height: 7vh;
    min-width: 7vh;
}